body{
    background-color:white;
    box-sizing: border-box;
}
h1{
    margin-left: 10px;
}
.todo_app{
    background-color: rgb(230, 230, 230);
    width: 350px;
    height: 1000px;
}

.add{
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
#input{
    width: 200px;
    height: 20px;
}
#add_button{
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    width: 20px;
    text-align: center;
}
#add_button:hover{
    background-color: rgb(250, 140, 140);
}
.end{
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;    
}
#clear_all{
    display: none;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 70px;
    height: 20px;
    border-radius: 2px;
}
#clear_all:hover{
    background-color: rgb(250, 140, 140);
}
li{
    list-style: none;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
    box-sizing: border-box;
    background-color: rgb(78, 204, 204);

}

#list_th{
    text-align: center;
    font-weight: bolder;
    background-color: rgb(214, 138, 250);
}
span{
    position: fixed;
    display: flexbox;
    font-weight: bolder;
    right: 50px;
    background-color: rgb(247, 5, 5);
}
span:hover{
    background-color:black;
    color: white;
}